@import 'src/app/scss/_colors.scss';
@import 'src/app/scss/_variables.scss';

$headerOverlayImageUrl: url('/assets/images/the-movie-db-page-header.jpg');
$headerOverlayHeight: 200px;

$backButtonTop: 30px;
$backButtonLeft: 30px;

$backButtonIconFontSize: 1.5rem;

.header {
	background-image: $headerOverlayImageUrl;
	background-position: center;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	height: $headerOverlayHeight;
	width: 100%;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;

		&-icon {
			cursor: pointer;
			max-width: 50%;
		}
	}

	&__back-button {
		position: absolute;
		top: $backButtonTop;
		left: $backButtonLeft;

		&-icon {
			font-size: $backButtonIconFontSize;
			color: $white;
		}
	}
}
