.header {
	background-image: url('/assets/most-popular-page-header.jpg');
	background-position: center;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	height: 220px;
	width: 100%;
}
