@import 'src/app/scss/_colors.scss';
@import 'src/app/scss/_variables.scss';

$searchInputHeight: 40px;
$searchInputWidth: 100%;
$searchInputTop: 7px;
$searchInputWidthOffset: 20px;

.search-bar {
	color: $primary;
	background-color: $white;
	box-shadow: $boxShadow;
	border-radius: 40px;
	padding: 15px 15px;
	&__container {
		display: flex;
		align-items: center;
		&-input {
			border: 0;
			color: $primary;
			width: 100%;
			margin-left: 5px;
		}
	}
}
