$primary: #01d277;
$white: #ffffff;

$success: #001d27;
$warning: #4902a3;
$danger: #d1225b;

$fontColor: #9fbbc7;
$headingColor: #e3f4fc;
$backgroundColor: #081c24;
$subTitleColor: #e6f7ff;
$subtextColor: #a1d1e6;
$horizontalRuleColor: #0f303d;
