<section class="movie-detail" *ngIf="movie$ | async as movie; else loading">
	<header-overlay
		[shouldShowBackButton]="true"
		(backButtonSelected)="backButtonSelected()"
		[overrideBackgroundImageUrlWith]="resolveFullImagePath(movie.backdrop_path)"
	></header-overlay>
	<div class="container">
		<div class="row movie-detail__heading-summary">
			<div class="col-5 col-lg-2 movie-detail__image">
				<img [src]="resolveFullImagePath(movie.poster_path)" class="w-100 h-100" />
			</div>
			<div class="col-7 col-lg-10 movie-detail__title-with-description">
				<div class="title">
					<h1>{{ movie.title }}</h1>
				</div>
				<div class="movie-detail__year-with-user-score">
					<span class="movie-detail__year">{{ movie.release_date | date: 'yyyy' }}</span>
					<span class="movie-detail__interpunct">·</span>
					<span class="movie-detail__user-score">{{ movie.vote_average | scoreAsPercentage }} user score</span>
				</div>
				<div class="duration">
					{{ movie.runtime | durationToHours }}
				</div>
			</div>
		</div>
		<article class="movie-detail__overview">
			<h4>Overview</h4>
			<p>{{ movie.overview }}</p>
		</article>
	</div>
</section>

<ng-template #loading>
	<loading></loading>
</ng-template>
