@import 'src/app/scss/_colors.scss';
@import 'src/app/scss/_variables.scss';

$movieDetailOverviewPadding: 30px;
$interpunctMargin: 0 5px;
.movie-detail {
	&__image {
		display: inline-block;
		position: relative;
		top: -20px;

		img {
			box-shadow: $boxShadow;
			border-radius: 8px;
		}
	}

	&__heading-summary {
		border-bottom: 1px solid $horizontalRuleColor;
	}

	&__overview {
		padding: $movieDetailOverviewPadding;
	}

	&__interpunct {
		margin: $interpunctMargin;
	}

	&__title-with-description {
		padding: 30px 30px 30px 0;
		span {
			font-size: 0.9rem;
		}
	}
}
