<section class="movie-detail" *ngIf="movie$ | async as movie; else loading">
	<header-overlay
		[shouldShowBackButton]="true"
		(backButtonSelected)="backButtonSelected()"
		[overrideBackgroundImageUrlWith]="resolveFullImagePath(movie.backdrop_path, originalImageQuality)"
	></header-overlay>
	<div class="container">
		<div class="row movie-detail__heading-summary">
			<div class="col-4 col-lg-2 movie-detail__image">
				<sn-image-loader
					[image]="image"
					[sizes]="sizes"
					imgClass="w-100"
					alt="Cover art for {{ movie.title }}"
				></sn-image-loader>
			</div>
			<div class="col-8 col-lg-10 col-sm-8 movie-detail__title-with-description">
				<div class="movie-detail__title">
					<h1>{{ movie.title }}</h1>
				</div>
				<div class="movie-detail__year-with-user-score">
					<span class="movie-detail__year">{{ movie.release_date | date: 'yyyy' }}</span>
					<span class="movie-detail__interpunct">·</span>
					<span class="movie-detail__user-score">{{ movie.vote_average | scoreAsPercentage }} User Score</span>
				</div>
				<div class="movie-detail__duration">
					<span>{{ movie.runtime | durationToHours }}</span>
				</div>
			</div>
		</div>
		<article class="movie-detail__overview">
			<h4>Overview</h4>
			<p>{{ movie.overview }}</p>
		</article>
	</div>
</section>

<ng-template #loading>
	<loading></loading>
</ng-template>
