@import 'src/app/scss/_colors.scss';

.movie-detail {
	&__image {
		display: inline-block;
		position: relative;
		top: -50px;

		img {
			box-shadow: 5px 5px 5px black;
			border-radius: 8px;
		}
	}

	&__heading-summary {
		border-bottom: 1px solid $horizontalRuleColor;
	}

	&__overview {
		padding: 30px;
	}

	&__interpunct {
		margin: 0 5px;
	}

	&__title-with-description {
		padding: 30px;
	}
}
