<article class="movie-item">
	<div class="movie-item__image">
		<sn-image-loader
			[image]="image"
			[sizes]="sizes"
			imgClass="movie-item__image-img"
			alt="Cover art for {{ movie.title }}"
		>
		</sn-image-loader>
		<badge [voteAverage]="movie.vote_average"></badge>
	</div>
	<div class="movie-item__summary">
		<div class="movie-item__summary-title">
			{{ movie.title }}
		</div>
		<div class="movie-item__summary-release-date">{{ movie.release_date | date: 'MMMM yyyy' }}</div>
	</div>
</article>
