@import 'src/app/scss/_colors.scss';
@import 'src/app/scss/_variables.scss';

$movieItemMarginBottom: 20px;
$badgePositionTop: 0;
$badgePositionLeft: 4px;
$movieItemSummaryPaddingTopBottom: 15px;

.movie-item {
	margin-bottom: $movieItemMarginBottom;
	cursor: pointer;
	position: relative;
	min-height: 300px;
	&__image {
		img {
			width: 100%;
			border-radius: 10px;
			box-shadow: $boxShadow;
		}
	}

	badge {
		position: absolute;
		top: $badgePositionTop;
		left: $badgePositionLeft;
	}

	&__summary {
		margin: $movieItemSummaryPaddingTopBottom 0;

		&-title {
			font-size: 0.9rem;
			color: $subTitleColor;
		}

		&-release-date {
			font-size: 0.8rem;
			color: $subtextColor;
		}
	}
}
