@import 'src/app/scss/_colors.scss';

.loading {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: 0.5s;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: $backgroundColor;
	color: $white;

	&__content {
		background-color: $backgroundColor;
		&-text {
			font-size: 2rem;
		}
	}
}

fa-icon {
	font-size: 3rem;
	color: $white;
}
