@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'app/scss/_typography.scss';
@import 'app/scss/_colors.scss';
@import 'app/scss/_variables';

html {
	background: $backgroundColor;
}
body {
	font-family: $primaryFont;
	background: $backgroundColor;
	color: $fontColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secondaryFont;
	color: $headingColor;
	font-weight: bolder;
}

hr {
	border: 0;
	height: 1px;
	background: $horizontalRuleColor;
	padding: 0;
	margin: 0;
}

::placeholder {
	color: $primary;
}

::selection {
	color: $white;
	background-color: $primary;
}

*:focus {
	outline: none;
}

// sn loader overrides
sn-image-loader {
	img {
		width: 100%;
		border-radius: 10px;
		box-shadow: $boxShadow;
		min-height: 100px;
	}
}

@media only screen and (max-width: 768px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.5rem;
	}
}
