// From Movies component
$moviesHeadingPaddingTop: 50px;
$movieItemsPaddingTop: 20px;
.movies {
	&__heading {
		padding-top: $moviesHeadingPaddingTop;
	}
	&__items {
		padding-top: $movieItemsPaddingTop;
	}
}
