$moviesHeadingPaddingTop: 50px;
$movieItemsPaddingTop: 20px;

.movies {
	&__heading {
		padding-top: $moviesHeadingPaddingTop;
	}
	&__items {
		padding-top: $movieItemsPaddingTop;
		&-loader {
			padding: 20px 0;
		}
	}
}
